* {font-family: Monospace}

:root {
    /* --menu-bg-color: rgba(200,100,200,5); */
    --menu-bg-color: rgba(152,47,133,240);
}


*,
*:before,
*:after {
  box-sizing: inherit;
}
header,
.tooltip,
.tooltip p {
  margin: 4em 0;
  text-align: center;
}


body {
    background-color: rgba(187,45,141,25);
    background-color: rgb(234,182,134);
    background-image: url('../images/oy_716x90.png');
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: top;
}
table { border-collapse: collapse; border-color: rgba(200,200,200,0);}

div.toolbar {
    white-space: nowrap;
}
a.toolbar_item {
    padding-left: 5px;
    padding-left: 5px;
}
a.toolbar_item:hover {
    color: white;
    font-weight: 900;
    background-color: rgba(200,200,200,0);
    border-bottom-color: var(--menu-bg-color);
}


/* tooltip: insert inside <a> tag <span> element with tooltip text */
a tt {display: none; position: fixed; bottom: 0; left: 0; right: 0; background: #333; color: #fff; text-align: right; padding-right: 10px;}
a:hover tt {display: block; }

span tt {display: none; position: fixed; bottom: 0; left: 0; right: 0; background: #333; color: #fff; text-align: right; padding-right: 10px;}
span:hover tt {display: block; }


div.pane {
    /*background-image: url('../images/kuntajana_240.png');
    background-size: 50px;
    background-repeat:  no-repeat;*/
}



table.menu {
    border-width:  1px; 
    border-color: black;
}
tr.menu {
    background-image: linear-gradient(
        to top, 
        var(--menu-bg-color),
        rgba(200,100,200,0),
        /*rgba(200,100,200,0),*/
        var(--menu-bg-color)
        )

}
td.menu-item {
    width: 25%; 
    text-align: center; 
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(
        to right, 
        var(--menu-bg-color),
        rgba(200,200,200,0),
        rgba(200,200,200,0),
        rgba(200,200,200,0), 
        var(--menu-bg-color)
        )
}

td.menu_active {
    border: solid 1px;
}

a.menu-item {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14pt; 
    font-weight: 300; 
    text-decoration: none; 
    text-shadow: 2px -2px var(--menu-bg-color);
    background-image: radial-gradient(
        circle, 
        var(--menu-bg-color),
        rgba(200,200,200,0)
        )
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
    font-weight: 900;
    background-color: black;
}
a:active {
    color: white;
    background-color: black;
}


table.pane { /*height: 100%;*/}
tr.pane_1 {}
tr.pane_2 {}
tr.pane_3 {}
td.pane_menu {vertical-align: top; }
td.panea {vertical-align: top; }
td.pane_na {vertical-align: top; }
td.pane_ca {vertical-align: top; }
td.pane_xa {vertical-align: top; }

div.userInfo {
}
a.login {
    cursor: crosshair;
    vertical-align: middle;
    white-space: nowrap;
}
a.login:hover {
    cursor: pointer;
    color: white;
    font-weight: 900;
    background-color: rgba(200,200,200,0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--menu-bg-color);
}

a.appRef:hover {
    color: white;
    font-weight: 900;
    background-color: rgba(200,200,200,0);
    border-bottom-color: var(--menu-bg-color);
}
img.appRef:hover {
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--menu-bg-color);
}

div.loginForm {
    display: none; 
    position:fixed; 
    left: 10%; 
    top: 25px; 
    min-width:300px; 
    max-width: 400px; 
    border: solid black 1px; 
    background-image: linear-gradient(
        to top, 
        var(--menu-bg-color),
        rgba(200,100,200,100),
        rgba(200,100,200,100),
        var(--menu-bg-color)
        );
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
table.loginForm {
    border: 0px; 
    border-spacing: 10px;
    background-image: linear-gradient(
        to left, 
        var(--menu-bg-color),
        rgba(200,100,200,200),
        rgba(200,100,200,100),
        rgba(200,100,200,200),
        var(--menu-bg-color)
        );
}
tr.loginForm {
}
td.loginForm {
    padding: 5px;
    color: white;
}

div.localeSelector {
    white-space: nowrap;
}
img.localeSelector {
    width: 25px;
    border-right: solid 1px var(--menu-bg-color);
    border-bottom: solid 1px var(--menu-bg-color);
    border-bottom-right-radius: 7px;
}
img.localeSelector:hover {
    cursor: pointer;
}


table.tail {}
tr.tail {
    height: 50px; 
    min-height: 50px; 
    max-height: 50px;
    background-image: linear-gradient(
        to bottom right, 
        var(--menu-bg-color),
        rgba(200,200,200,0),
        rgba(200,200,200,0),
        rgba(200,200,200,0), 
        var(--menu-bg-color)
        )
}

td.tail {
    text-align: center;
    background-image: linear-gradient(
        to top right, 
        var(--menu-bg-color),
        rgba(200,200,200,0),
        rgba(200,200,200,0),
        var(--menu-bg-color)
        )
}




a.menu_main {font-size: 14pt;font-weight: 700; text-decoration: none; background-image: radial-gradient(circle, rgba(100,200,200,150),rgba(200,200,200,0))}
a.menu_a {font-size: 14pt; font-weight: 700; text-decoration: none; background-image: radial-gradient(circle, rgba(100,100,200,150),rgba(200,200,200,0))}
a.menu_b {font-size: 14pt; font-weight: 700; text-decoration: none; background-image: radial-gradient(circle, rgba(200,100,200,150),rgba(200,200,200,0))}
a.menu_c {font-size: 14pt; font-weight: 700; text-decoration: none; background-image: radial-gradient(circle, rgba(200,200,100,150),rgba(200,200,200,0))}
a.menu_d {font-size: 14pt; font-weight: 700; text-decoration: none; background-image: radial-gradient(circle, rgba(100,200,100,150),rgba(200,200,200,0))}
a.menu_e {font-size: 14pt; font-weight: 700; text-decoration: none; background-image: radial-gradient(circle, rgba(200,100,100,150),rgba(200,200,200,0))}

table.filter {    
    width: 100%;
}
tr.filter {}
td.filter {
    white-space: nowrap;
    padding-left: 5px; 
    padding-right: 15px; 
    background-image: linear-gradient(to top left, rgba(200,200,200,0),rgba(200,200,200,5));
}
td.filter:hover {
    cursor: pointer;
}
td.filter_active {
    white-space: nowrap;
    padding-left: 15px; 
    padding-right: 5px; 
    background-image: linear-gradient(to bottom right, rgba(200,200,250,0),rgba(200,200,250,5));
}

fieldset.filter {
    poisition: absolute;
    border: solid 0.1px;
    border-radius: 0px;
    padding: 5px;
}
legend.filter {
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 1px;
    color: rgb(250,240,250);
    background-color: rgb(200,100,100);
    text-shadow: 2px -2px var(--menu-bg-color);
}

div.filter_sel {
    color: black;
    font-weight: 900;
    text-align: center;
}

legend:link {
    color: white;
}
legend:visited {
    color: white;
}
legend:hover {
    cursor: pointer;
    color: white;
    font-weight: 900;
}
legend:active {
    color: white;
    background-color: black;
}


a.filter {
    white-space: nowrap;
    background-image: linear-gradient(to top left, rgba(200,200,200,0),rgba(200,200,200,5));
}
a.filter_active {
    white-space: nowrap;
    background-image: linear-gradient(to bottom right, rgba(200,200,250,0),rgba(200,200,250,5));
}
img.list_mode {
    width: 30;
}
img.list_mode:hover {
    cursor: pointer;
}

img.list_mode_active {
    width: 30;
    border-bottom: solid 3px var(--menu-bg-color);
    /*border: solid 1px var(--menu-bg-color);*/
}

a.cell_action {
}

a.cell_action:hover {
    cursor: pointer
}


fieldset.calendar_basket {
    height: 100%;
    border: solid 1px var(--menu-bg-color);
    padding: 5px;
}
table.calendar_basket {
}

table.basket_action {
}
caption.basket_action {
    padding-bottom: 10px;
}
tr.basket_action {
}
td.basket_action {
    padding-bottom: 5px;
}


a.basket_action {
    font-weight: 300;
    white-space: nowrap;
    background-image: linear-gradient(to bottom right, rgba(200,200,250,0), rgba(200,200,250,5));
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

img.overlay_wd {
    position: absolute;
    top: 10;
    left: 10;
}
img.overlay_wdm {
    position: absolute;
    top: 10;
    left: 10;
}

img.overlay_wda {
    position: absolute;
    top: 10;
    left: 0;
}

img.overlay_login {
    position: absolute;
    top: 0;
    left: 17;
    background-color: rgba(200,200,200,20);
}


table.tep {
    border: solid 1 var(--menu-bg-color);
    border-collapse: collapse;
}

caption.tep {
    text-align: left;
    vertical-align: middle;
}

tr.tep {
    
}
tr.tep_deleted {
    background-color: rgba(200,200,200,20);
}

th.tep {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border: solid 1 var(--menu-bg-color);
}

td.tep {
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
    border: solid 1 var(--menu-bg-color);
    background-color: rgba(200,100,100,0);
}

td.tep_modified {
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
    border: solid 1 var(--menu-bg-color);
    background-color: white;
}

select.tep {
    font-weight: 900;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgba(0,0,0,0);
}

input.tep {
    font-weight: 900;
    padding-left: 2px;
    padding-right: 2px;
    border: solid 1 var(--menu-bg-color);
    background-color: rgba(0,0,0,0);
}

a.tep:hover {
    cursor: pointer;
    color: white;
    font-weight: 900;
    background-color: rgba(200,100,100,0);
}
img.tep:hover {
    cursor: pointer;
}

/*
a.tep span {display: none; position: absolute; bottom: 0; left: 0; right: 0; background: #333; color: #ff0; }
a.tep:hover span {display: block; }
*/
img.toolbar:hover {
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--menu-bg-color);
}

