/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[ttbr] {
  position: relative;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[ttbr]:before,
[ttbr]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[ttbr]:before {
  position: absolute;
  top: 150%;
  right: 75%;
  margin-bottom: 5px;
  margin-left: -10px;
  padding: 7px;
  /*width: 160px;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(ttbr);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[ttbr]:after {
  position: absolute;
  top: 120%;
  right: 100%;
  margin-left: -5px;
  width: 0;
  border-bottom: 5px solid #000;
  border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[ttbr]:hover{
    z-index: 1000;
}
[ttbr]:hover:before,
[ttbr]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transition: visibility 0.2s linear 0.3s;
}